/*red #dc3545 Dark gray #343a40  gray #6c757d  light white #f8f9fa*/
/* white-space: nowrap; */

html {
    scroll-behavior: smooth;
}

body {
    background: white;
}

/* Holds side bar and page */
.wrapper {
    display: flex;
    width: 100%;
}

hr {
    border: .2vh solid #000;
    width: 100%;
    margin-top: 5vh;
}

::selection {
    color: white;
    background-color: #dc3545; 
}

.horizontal-layout {
    display: flex;
    flex-direction: row;
}

.vertical-layout {
    display: flex;
    flex-direction: column;
}

.center-layout {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}


.heading {  
    font-size: 3em;
    color: black;
    font-weight: bold;
}

.sub-heading {
    font-size: 1.2em;
    color: #6c757d;
}

button {
    white-space: nowrap;
    background-color: #dc3545;
    color: white;
    padding: 1vh 3vh;
    border: none;
    border-radius: 4vh;
    cursor: pointer;
    font-size: 1em;
}


    /* ---------------------------------------------------
        CONTENT STYLE
    ----------------------------------------------------- */
#content {
    flex-grow: 1;
    width: calc(100%);
    min-height: 100%;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
}

/* Active when side bar closed */
#content.active {
    width: 100%;
}

.content-container {
    /* Stacks vertically elements in all content section as the DEFAULT */
    display: flex;
    flex-direction: column;
    padding: 8vh;
    padding-left: 12vh;
    padding-right: 12vh;
    background-color: white;
    position: relative;
}


    /* ---------------------------------------------------
        HOME STYLE
    ----------------------------------------------------- */
#home {
    /*TODO: OVERLAY GRAY FOR BACKGROUND*/
    background-image: url('Assets/background-color2.avif');
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat; 
}

        /* ---------------------------------------------------
            ABOUT STYLE
        ----------------------------------------------------- */
.about {
    padding-top: 8vh;
    background-color: white;
    min-height: 20vh;
}



.about-me-text-img {
    margin: 0 auto;
    font-size: 1.3em;
    width: 100%;
    padding: 1em 0 1em 0 ;
}


.about-me-text-img img {
    float: left;
    width: 40%;
    max-width: 12em;
    height: 40%;
    padding: 0 10px 0 0;
}



  .resume-details {
    margin-bottom: 3vh;
    text-align: center;
  }


  .text-container {
    margin-top: .5vh;
    flex: 1;
    margin-right: 1em;
    text-wrap: nowrap;
    display: flex;
    align-items: center;
}

.name-button, .email-button {
    margin-top: 0.5vh;
    margin-right: 2vh; /* Adjust margin as needed */
    width: 100%;
}

        /* ---------------------------------------------------
            SKILLS STYLE
        ----------------------------------------------------- */
.skills {
    padding-top: 8vh;
    background-color: white;
    min-height: 20vh;
    padding: 1em 0 1em 0 ;
  }
  
  .skills-img {
    background-color: #dcdcdc;
    border-radius: 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-top: 2vh;
  }
  
  .skills-img img {
    padding: .7vh; 
    max-width: 100%;
  }
        /* ---------------------------------------------------
            PROJECTS STYLE
        ----------------------------------------------------- */
.projects {
    padding-top: 8vh;
    background-color: white;
    min-height: 20vh;
    padding: 1em 0 1em 0 ;
}

.project-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: gray;
    margin: 10px;
    background-color: #dcdcdc;
    border-radius: 2vh;
    margin-top: 2vh;
}

.project-box {
    border-radius: 1vh;
    background-color: white;
    margin: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.project-box img {
    width: 100%;
    height: auto;
    max-height: 50vh;
}

.project-box a {
    color: red;
    text-decoration: none; /* Optional: Remove underline if needed */
    font-weight: bold; /* Optional: Adjust font weight */
}

.project-box p {
    font-size: 12px; /* Optional: Adjust font size */
    /* line-height: 1.5;  */
}

.project-box ul {
    padding-left: 20px;
    font-size: 12px; /* Optional: Adjust font size */
    /* line-height: 1.5;  */
}



        /* ---------------------------------------------------
            CONTACT STYLE
        ----------------------------------------------------- */

.contact {
    padding-top: 8vh;
    height: 100vh;
    background-color: white;
}

form {
    padding-top: 2vh;
    width: 100%;
    margin: 0 auto;
}

input:focus, textarea:focus {
    border-bottom: 2px solid #dc3545; /* Adjust the color and thickness as needed */
    outline: none; /* Remove the default focus outline */
}

input, textarea {
    width: 100%;
    padding: 1%;
    margin-bottom: 1%;
    box-sizing: border-box;
    border: 1px solid #ccc;
}



  

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 200px;
    position: fixed;
    transition: all 0.3s;
    /* Horizonal and Vertical Placement*/
    text-align: center; 
    background-color: black;
    flex-shrink: 0;
    color: #fff;
}

.sidebar-button {
    background-color: transparent;  
    border: none;  
}


#sidebar #sidebar-personal {
	display: flex;
	height: 35vh;
	flex-direction: column;
    justify-content: flex-end;
    background-color: black;
    padding-bottom: 50px;
    margin-top: 50px;
}

#sidebar #sidebar-personal img {
    width: 8em; 
    height: 8em; 
    object-fit: cover;
    background-color: #343a40;
    border-radius: 50%; 
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 11px 20px 10px 20px;
    background: white;
}

#sidebar ul.components {
    border-bottom: 1px solid #47748b;
	display: flex;
	height: 65vh;
	flex-direction: column;
}


#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    text-align: center;
}

#sidebar ul li a:hover {
    color:white;
    background: #dc3545;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #dc3545;
    background: none;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #dc3545;
}

.menu-btn {
    margin-top: 10px;
    background-color: transparent;
    outline: none;
}
.menu-btn:focus {    
    box-shadow: 0 0 0 2px transparent; 
}
.menu-btn:hover {
    transform: scale(1.1); 
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }  
}


/* ---------------------------------------------------
    MISC
----------------------------------------------------- */

/* Optional: Add some responsive styles */
@media screen and (max-width: 600px) {
    form {
        width: 100%;
    }
}