/* COLORS
    #0F6A37 background
    #76BE43 lining/secondary
    color: rgb(138, 137, 137);
*/
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #0F6A37;
    overflow-x: hidden; /* This prevents horizontal scrolling */
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0F6A37;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    box-sizing: border-box;
}

.icon img {
    height: 50px;
    width: 150px;
}

.header-buttons {
    display: flex;
    gap: 10px;
}

.header-buttons nav a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #76BE43;
    color: white; /* Text color */
    text-decoration: none; /* Remove underline */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.header-buttons nav a:hover {
    background-color: #5a9332;
}

.header-buttons nav a:visited {
    color: white; /* Ensure the color stays the same even after visiting the link */
}

main {
    margin-top: 70px; /* Adjust this value based on the height of the header */
}

h1 {
    font-weight: 800;
    font-weight: bold;
}

h3,h2,h4 {
    font-weight: 100;
}

p {
    color: rgb(189, 189, 189);
    line-height: 1.3; 
}

hr {
    width: 10%;
    height: 3px;
    background-color: #76BE43;
    border: none;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
    background-color: #76BE43;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

button:hover {
    background-color: #169a4f;
}

.about-container, .stats-container, .services-container, .images-container {
    padding: 30px;
}

nav a {
    padding: 8px 12px;
    font-size: 0.9em;
    color: white; /* Text color */
    text-decoration: none; /* Remove underline */
    border-radius: 10px;
    background-color: #76BE43;
}

/*------------------ TITLE ------------------ */
.title-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
}

.main-content {
    max-width: 50%;
}

.main-content h1 {
    font-size: 5vw;
    color: #ffffff;
    margin-bottom: 2vh;
}

.main-content h2 {
    font-size: 2.5vw;
    color: #ffffff;
    margin-bottom: 3vh;
}

.cta-button {
    padding: 1.5vh 3vw;
    font-size: 1.8vw;
    background-color: #76BE43;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #5a9332;
}

.bottom-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bottom-text {
    color: #ffffff;
    margin-right: 20px;
}

.bottom-image img {
    max-width: 100px;
    height: auto;
}

/*------------------ STATS ------------------ */
.stats-container {
    width: 100%;
    padding: 40px 0; /* Add some vertical padding */
    box-sizing: border-box;
}

.stats-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.fact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    min-width: 200px;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    color: #76BE43;
    background-color: white;
}

.fact-container img {
    max-width: 50%;
    height: auto;
    margin-bottom: 10px;
}

.fact-container p {
    margin: 10px 0 0 0;
}

/*------------------ SERVICES ------------------ */
.services-container {
    text-align: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-container h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.services-container h1 {
    font-size: 2em;
    margin-top: 10px;
}

.services-container hr {
    margin: 20px auto;
}

.services-button-container {
    width: 80vw;
    height: 80vw;
    max-width: 500px;
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.circle-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 50%;
}

.service-image {
    width: 50%;
    height: auto;
    max-width: 200px;
}

.service-text {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1em;
    text-align: center;
}



/*------------------ ABOUT ------------------ */
.about-container {
    color: white;
}

.about-container hr {
    width: 20vw;
    max-width: 75px;
    margin: 20px 0; /* Adjust margin as needed */
}


/*------------------ IMAGES ------------------ */
.images-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    max-width: 800px;
}

.comparison-slider-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.comparison-slider {
    max-width: 100%;
    width: auto;
}

.images-container h1 {
    color: white;
}






/*------------------ AREA ------------------ */
.area-container {
    background-color: white;
    min-height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    text-align: left;
}

.area-text-container {
    flex: 1;
    max-width: 50%;
    margin-right: 40px;
}

.area-img-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.area-container img {
    max-width: 100%;
    height: auto;
}

.area-container h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.area-container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.area-container h3 {
    font-size: 1.2em;
    color: rgb(138, 137, 137);
    line-height: 1.5;
}

.area-container hr {
    width: 50%;
    margin: 20px 0;
    border: none;
    border-top: 2px solid #76BE43;
}


/*------------------ FOOTER ------------------ */
.footer-container {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

footer {
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 20px;
    min-width: 200px;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #555;
}

/*------------------ SMALLER SCREENS ------------------ */
@media (max-width: 768px) {
    .stats-container,
    .about-container,
    .images-container,
    .area-container {
        height: auto;
        min-height: 50vh;
    }

    

    /*------------------ HEADER ------------------ */
    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        margin-top: 5px;
    }

    .icon img {
        height: 40px;
        width: auto;
    }

    .header-buttons {
        margin-right: 0;
        gap: 5px;
    }

    .header-buttons nav a {
        padding: 8px 12px;
        font-size: 0.9em;
        color: white; /* Text color */
        text-decoration: none; /* Remove underline */
    }
    
    .header-buttons nav a:hover {
        background-color: #5a9332;
    }
    
    .header-buttons nav a:visited {
        color: white; /* Ensure the color stays the same even after visiting the link */
    }

    main {
        margin-top: 60px;
    }

    /*------------------ TITLE ------------------ */
    .content-overlay {
        padding: 30px;
    }

    .main-content {
        max-width: 100%;
    }

    .main-content h1 {
        font-size: 2em;
    }

    .main-content h2 {
        font-size: 1.2em;
    }

    .cta-button {
        padding: 10px 20px;
        font-size: 1em;
    }

    .bottom-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .bottom-text {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .bottom-image img {
        max-width: 80px;
    }

    /*------------------ STATS ------------------ */
    .stats-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap; /* Add the missing opening bracket here */
    }

    .fact-container {
        width: 100%;
        margin: 10px 0;
    }
    
    /*------------------ SERVICES ------------------ */
    .services-button-container {
        width: 90vw;
        height: 90vw;
    }

    .service-image {
        width: 50%;
    }

    .service-text {
        font-size: 0.7em;
        padding-left: 30px;
        padding-right: 30px;
    }

    .quote-button nav a {
        font-size: 10px;
    }

    .services-container hr {
        width: 50%;
    }

    /*------------------ IMAGES ------------------ */
    .images-container {
        max-width: 80%;
    }

    .images-container hr {
        width: 50%;
    }

    /*------------------ AREA ------------------ */
    .area-container {
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    .area-text-container {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .area-img-container {
        width: 100%;
    }

    .area-container img {
        max-width: 100%;
        margin-top: 0;
    }

    .area-container h2 {
        font-size: 1.3em;
    }

    .area-container h1 {
        font-size: 2em;
    }

    .area-container h3 {
        font-size: 1em;
    }

    .area-container hr {
        width: 70%;
        margin: 15px auto;
    }




    /*------------------ FOOTER ------------------ */
    .footer-content {
        flex-direction: column;
    }
    
    .footer-section {
        margin-right: 0;
    }
}


.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    box-sizing: border-box;
}

